@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:var(--www-peppercontent-io-semantic-link-font-weight),var(--www-peppercontent-io-semantic-heading-3-font-weight),var(--www-superside-com-inter-regular-font-weight),400,var(--www-superside-com-semantic-heading-3-font-weight),var(--www-peppercontent-io-inter-regular-font-weight)");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}
